[submodule "personal"]
	path = personal
	url = git@github.com:cbebe/.personal
[submodule "config/.config/awesome/sharedtags"]
	path = config/.config/awesome/sharedtags
	url = git@github.com:Drauthius/awesome-sharedtags.git
